@model My_Portfolio.Models.Entities.Footer

@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";

}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Footer Düzenle</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">

                <div class="table-responsive p-0">

                    <table class="table align-items-center mb-0">

                        <div class="card-body">
                            @if (TempData["Uyarı"] != null)
                            {
                                <div class="alert alert-secondary text-light ">
                                    @TempData["Uyarı"]
                                </div>
                            }
                            <form role="form" method="post" asp-controller="Admin" asp-action="Footer">
                                <input type="hidden" asp-for="Id" />

                                 <div class="mb-3">
                                    <label>Ad Soyad</label>
                                    <input type="text" class="form-control" placeholder="Ad Soyad" aria-label="Password" aria-describedby="password-addon" name="Name" asp-for="Name">
                                </div>
                                <div class="mb-3">
                                    <label>Açıklama</label>
                                    <input type="text" class="form-control" placeholder="Açıklama" aria-label="Email" aria-describedby="email-addon" name="Aciklama" asp-for="Aciklama">
                                </div>
                                <div class="mb-3">
                                    <label>Twitter Link</label>
                                    <input type="text" class="form-control" placeholder="Twitter Link" aria-label="Email" aria-describedby="email-addon" name="Link1" asp-for="Link1">
                                </div>
                                <div class="mb-3">
                                    <label>Facebook Link</label>
                                    <input type="text" class="form-control" placeholder="Facebook Link" aria-label="Password" aria-describedby="password-addon" name="Link2" asp-for="Link2">
                                </div>
                                <div class="mb-3">
                                    <label>İnstagram Link</label>
                                    <input type="text" class="form-control" placeholder="İnstagram Link" aria-label="Email" aria-describedby="email-addon" name="Link3" asp-for="Link3">
                                </div>
                                <div class="mb-3">
                                    <label>Skype Link</label>
                                    <input type="text" class="form-control" placeholder="Skype Link" aria-label="Password" aria-describedby="password-addon" name="Link4" asp-for="Link4">
                                </div>
                                <div class="mb-3">
                                    <label>Linkedin Link</label>
                                    <input type="text" class="form-control" placeholder="Linkedin Link" aria-label="Email" aria-describedby="email-addon" name="Link5" asp-for="Link5">
                                </div>
                               



                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-primary w-100 mt-4 mb-0">Kaydet</button>
                                </div>
                            </form>

                        </div>



                    </table>
                </div>
            </div>
        </div>
    </div>
</div>