@model My_Portfolio.Models.Entities.OzgecmisEgitim
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";

}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Özgeçmiş Eğitim Düzenle</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">

                <div class="table-responsive p-0">

                    <table class="table align-items-center mb-0">

                        <div class="card-body">

                            <form role="form" method="post" asp-controller="Admin" asp-action="OzgecmisEgitimDuzenle">
                                <input type="hidden" asp-for="Id" />
                                <div class="mb-3">
                                    <label>Bölüm</label>
                                    <input type="text" class="form-control" placeholder="Bölum" aria-label="Email" aria-describedby="email-addon" name="Bolum" asp-for="Bolum">
                                </div>
                                <div class="mb-3">
                                    <label>Okuduğun Yıl</label>
                                    <input type="text" class="form-control" placeholder="Okuduğun Yıl" aria-label="Password" aria-describedby="password-addon" name="Yil" asp-for="Yil">

                                </div>
                                <div class="mb-3">
                                    <label>Okul</label>
                                    <input type="text" class="form-control" placeholder="Okul" aria-label="Email" aria-describedby="email-addon" name="Okul" asp-for="Okul">
                                </div>
                                <div class="mb-3">
                                    <label>Açıklama</label>
                                    <input type="text" class="form-control" placeholder="Açıklama" aria-label="Password" aria-describedby="password-addon" name="Aciklama" asp-for="Aciklama">

                                </div>


                                <div class="row">
                                    <div class="col-md-10">
                                        <button asp-controller="Admin" asp-action="OzgecmisEgitimDuzenle" type="submit" class="btn bg-gradient-primary w-100 mt-4 mb-0">Kaydet</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button asp-asp-controller="Admin" asp-action="OzgecmisEgitim" class="btn bg-gradient-primary w-100 mt-4 mb-0">Vazgeç</button>
                                    </div>

                                </div>
                            </form>

                        </div>



                    </table>
                </div>
            </div>
        </div>
    </div>
</div>