@model My_Portfolio.Models.Entities.OzgecmisOzet
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";

}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Özgeçmiş Düzenle</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">

                <div class="table-responsive p-0">

                    <table class="table align-items-center mb-0">

                        <div class="card-body">
                            @if (TempData["Uyarı"] != null)
                            {
                                <div class="alert alert-secondary text-light ">
                                    @TempData["Uyarı"]
                                </div>
                            }
                            <form role="form" method="post" asp-controller="Admin" asp-action="OzgecmisOzet">
                                <input type="hidden" asp-for="Id" />


                                <div class="mb-3">
                                    <label>Ad</label>
                                    <input type="text" class="form-control" placeholder="Ad" aria-label="Email" aria-describedby="email-addon" name="Ad" asp-for="Ad">
                                </div>
                                <div class="mb-3">
                                    <label>Soyad</label>
                                    <input type="text" class="form-control" placeholder="Soyad" aria-label="Password" aria-describedby="password-addon" name="Soyad" asp-for="Soyad">
                                </div>
                                <div class="mb-3">
                                    <label>Açıklama</label>
                                    <input type="text" class="form-control" placeholder="Açıklama" aria-label="Email" aria-describedby="email-addon" name="Aciklama" asp-for="Aciklama">
                                </div>
                                <div class="mb-3">
                                    <label>Adres</label>
                                    <input type="text" class="form-control" placeholder="Adres" aria-label="Password" aria-describedby="password-addon" name="Adres" asp-for="Adres">
                                </div>
                                <div class="mb-3">
                                    <label>Telefon</label>
                                    <input type="text" class="form-control" placeholder="Telefon" aria-label="Email" aria-describedby="email-addon" name="Telefon" asp-for="Telefon">
                                </div>
                                <div class="mb-3">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Email" aria-label="Password" aria-describedby="password-addon" name="Email" asp-for="Email">
                                </div>
                                <div class="mb-3">
                                    <label>MedeniHal</label>
                                    <input type="text" class="form-control" placeholder="MedeniHal" aria-label="Email" aria-describedby="email-addon" name="MedeniHal" asp-for="MedeniHal">
                                </div>
                                <div class="mb-3">
                                    <label>Cinsiyet</label>
                                    <input type="text" class="form-control" placeholder="Cinsiyet" aria-label="Password" aria-describedby="password-addon" name="Cinsiyet" asp-for="Cinsiyet">
                                </div>
                                <div class="mb-3">
                                    <label>Ehliyet</label>
                                    <input type="text" class="form-control" placeholder="Ehliyet" aria-label="Email" aria-describedby="email-addon" name="Ehliyet" asp-for="Ehliyet">
                                </div>
                                

                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-primary w-100 mt-4 mb-0">Kaydet</button>
                                </div>
                            </form>

                        </div>



                    </table>
                </div>
            </div>
        </div>
    </div>
</div>